h1{color: black;
text-align: center;}
h2{color: rgb(43, 39, 39);
    text-align: center;}
    h3{color: rgb(112, 9, 71);
        }
      
td,th {border: 1px solid purple; padding: 1px;}

        